name: Draft PDF
on:
  push:
    branches:
      - paper
    paths:
      - paper/paper.md
      - paper/paper.bib
      - paper/figures/*
      - .github/workflows/draft-pdf.yml

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.HWO_RELEASE_PLEASE_TOKEN }}
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          # This should be the path to the paper within your repo.
          paper-path: paper/paper.md
      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: paper
          # This is the output path where Pandoc will write the compiled
          # PDF. Note, this should be the same directory as the input
          # paper.md
          path: paper/paper.pdf

      - name: Commit and push changes
        run: |
          # Configure git user for the commit
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

          # Add the generated file to git
          git add paper/paper.pdf

          # Only commit and push if there are actual changes to the file
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update JOSS paper" && git push)
